// @import "http://fonts.googleapis.com/css?family=Merriweather:400,700";

$serif:             "Merriweather", serif;
$sans-serif:        "Helvetica Neue", Arial, sans-serif;

$base-font-size:    16px;
$base-line-height:  24px;