$debug-grid: true !default;

@mixin grid-background {
  @if $debug-grid == true {
    @include susy-grid-background;
  }
}

$total-columns: 6;
$column-width: 3.75em;
$gutter-width: 1em;
$grid-padding: $gutter-width;


$break: 8;


