<link rel="shortcut icon" href="/images/favicon.ico" />

<!-- non-retina iPhone pre iOS 7 -->
<link rel="apple-touch-icon" href="images/icon57.png" sizes="57x57" />
<!-- non-retina iPad pre iOS 7 -->
<link rel="apple-touch-icon" href="images/icon72.png" sizes="72x72" />
<!-- non-retina iPad iOS 7 -->
<link rel="apple-touch-icon" href="images/icon76.png" sizes="76x76" />
<!-- retina iPhone pre iOS 7 -->
<link rel="apple-touch-icon" href="images/icon114.png" sizes="114x114" />
<!-- retina iPhone iOS 7 -->
<link rel="apple-touch-icon" href="images/icon120.png" sizes="120x120" />
<!-- retina iPad pre iOS 7 -->
<link rel="apple-touch-icon" href="images/icon144.png" sizes="144x144" />
<!-- retina iPad iOS 7 -->
<link rel="apple-touch-icon" href="images/icon152.png" sizes="152x152" />