.wrapper {
  opacity: 0;
}

.wf-active {
  .wrapper {
    opacity: 1;
    @include transition(opacity 1.0s ease-in 0s);
  }
}
.wrapper {
  @include container();
  margin: 0 gutter();

  @include breakpoint($mama-bear) {
    @include container(40em 8);
  }

//   @include breakpoint($papa-bear) {
//     @include container(12);
//   }
}

.content {
  @include breakpoint($mama-bear) {
    @include span(7 of 8);
  }
}

// header {
//   margin-bottom: $vertical-unit;
// }

section {
  margin-bottom: $vertical-unit;
  &:after {
    content:"\2767";
    text-align: center;
    font-size: 2em;
    display: block;
    color: $light-color;
  }
}
