html {
  font-family: $sans-serif;
  color: $text-color;
  background-color: $bg-color;
}

h1 {
  font-family: $serif;
  text-align: left;
  @include adjust-font-size-to(18px);
  @include leader(1);
  @include trailer(1);
  @include breakpoint($mama-bear) {
    @include adjust-font-size-to(24px);
      @include trailer(0);
  }
}

h2 {
  text-transform: uppercase;
  font-size: 1em;
  span {
    border-bottom: 4px solid $accent-color;
  }
}

p {
  @include adjust-font-size-to(16px);
  @include leader(0);
  @include trailer(1);
}



ul {
  padding-left: 0;
  list-style: none;
  ul {
    padding-left: 2em;
    list-style: square;
    li:last-child {
      margin-bottom: $vertical-unit;
    }
  }
}

a {
  color: $accent-color;
  &:hover {
    color: lighten($accent-color, 25%);
    @include transition-property(color);
    @include transition-duration(.25s);
    @include transition-timing-function(ease-in);
  }
}
