/* Susy Setup
--------------------*/
$susy: (
  columns: 4,
  gutters: .25,
  debug: (
    image: hide,
    color: rgba(#F00, .25),
    output: background,
  )
);


/* Breakpoints
--------------------*/

$baby-bear: max-widht 40em;
$mama-bear: 40em;
// $papa-bear: min-width 65em;


/* Typography
--------------------*/

$serif:             "Cardo", serif;
$sans-serif:        "Open Sans", Arial, sans-serif;

$base-font-size:    16px;
$base-line-height:  24px;


/* Colors
--------------------*/

$text-color: #434343;
$light-color: #666;
$accent-color: #E7340E;
$bg-color: #F6F5F0;


/* Rythm
--------------------*/
$vertical-unit: 3em;
