@import "layout/header";
@import "layout/content";
@import "layout/footer";


html {
  height: 100%;
}

.wrapper {
  @include container($total-columns, $break);
  @include leader(1);
}

@include at-breakpoint($break) {
  body {
    font-size: 150%;
    background-repeat: no-repeat;
    background-position: right top;
  }
  .wrapper {
    @include leader(0);
    @include padding-leader(3);
    @include pad(2,2);
    @include background(image-url("nyc.jpg"));
    background-repeat: no-repeat;
    background-position: right top;    
  }
}