html {
  font-family: $sans-serif;
  color: $text;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-weight: 700;
}

h2 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
}

p {
  font-weight: 400;  
}

a {
  padding: 0.125em 0.25em 0;
  color: white;
  background-color: lighten($highlight, 25%);
  text-decoration: none;
  &:hover {
    background-color: $highlight;
  }
  &:active {
    position: relative;
    color: $text;
    top: 1px;
  }
  &:visited {
    color: white;
  }
}